#### Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular IDEs for Data Science
- Make some arithmetic expressions

#### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. ggplot (R)
2. tidyverse (R)
3. scikit-learn (Python)
4. pandas (Python)
5. numpy (Python)

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:- |
| VS Code |
| RStudio |
| Spyder |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 + 2

4

In [2]:
5 * 9

45

#### Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

#### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Fernando Santos Barbosa